@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .modal-bg {
    @apply hidden;
  }
  .modal-bg.show {
    @apply flex;
  }

  .truncate-text {
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  }
  

}
